{% extends 'base.html' %}
{% block title %}
Add New Users
{% endblock %}

{% block content %}
<form class="row gy-2 gx-3 align-items-center mt-3" action="/users/add_users" method="POST">
    <div class="col-auto">
        <label class="visually-hidden" for="input_text">Name</label>
        <input type="text" class="form-control" id="input_text" name="name" placeholder="Jane Doe">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-light">Submit</button>
    </div>
</form>

{% endblock %}