{% extends 'base.html' %}
{% block title %}
{{ user_name }}'s Movies
{% endblock %}

{% block content %}
<a class="ms-2" href="{{ url_for('api.list_users') }}">
    <button type="button" class="btn btn-outline-light px-3 p-3 mt-3 fs-3">All users</button>
</a>
<br>
<br>
<h3 class="display-3 text-center">{{ user_name }}'s Movies</h3>
<div class="text-center">
    <a href="{{ url_for('api.add_movie', user_id=user_id) }}">
        <button type="button" class="btn btn-outline-light px-3 p-3 mt-3 fs-5">Add Movie</button>
    </a>
</div>

<div class="row m-4">
    {% for movie in user_movie %}
 <div class="col-md-3 mb-4">
    <div class="card bg-dark text-white" style="width: 250px;">
        <img src="{{ movie['poster'] }}" class="card-img" alt="Movie Poster" style="max-height: 300px; width: 100%;">
        <div class="card-body">
            <h3 class="card-title">{{ movie['title'] }}</h3>
            <div class="card-text">
                <p>Director: {{ movie['director'] }}</p>
                <p>Year: {{ movie['year'] }}</p>
                <p>Rating: {{ movie['rating'] }}</p>
            </div>
               <div class="btn-group btn-group-sm mx-2">
                <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie['movie_id']) }}">
                    <button class="btn btn-outline-info mx-2">Update</button>
                </a>
                <a href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie['movie_id']) }}">
                    <button class="btn btn-outline-danger mx-2">Delete</button>
                </a>
            </div>
            <div class="mt-2">
                <a href="{{ url_for('add_review', user_id=user_id, movie_id=movie['movie_id']) }}">
                    <button class="btn btn-outline-success btn-sm">Add Review</button>
                </a>
                <a href="{{ url_for('view_reviews', user_id=user_id, movie_id=movie['movie_id']) }}">
                    <button class="btn btn-outline-primary btn-sm">View Reviews</button>
                </a>
            </div>
        </div>
    </div>
</div>


    {% endfor %}
</div>
{% endblock %}